<!DOCTYPE html>
<html lang="en">
<head>
	<title>Node JS Sample</title>

    <!-- Custom styles for this template -->
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>

    
	<meta charset="utf-8">
    <meta name="description" content="written for RVTD">
    <meta name="author" content="Krister Axel">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="/assets/names-list.js"></script>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="shortcut icon" href="http://www.iconj.com/ico/z/6/z6zkji568o.ico" type="image/x-icon" />
</head>
<body>
	
  <div class="container">
	  <div class="row" id="toolbar">
		  <a id="delete-page-link"><img src="assets/del-button.png"/></a>
	  </div>
	  <div class="row">
		  <form method="POST">
			  <table class="table">
			    <tbody>
			      <tr>
			        <th scope="row">Name</th>
			        <td><input type="text" name="firstname" placeholder="firstname" required /></td>
			        <td><input type="text" name="lastname" placeholder="lastname" required /></td>
			      </tr>
			      <tr>
			        <th scope="row">Address</th>
			        <td><input type="text" name="address_street" placeholder="your address" required /></td>
			      </tr>
			      <tr>
			        <th scope="row">City, state</th>
			        <td><input type="text" name="address_city" placeholder="City" required /></td>
			        <td><input type="text" name="address_state" placeholder="State" required /></td>
			      </tr>
			      <tr>
			        <th scope="row">zip</th>
			        <td><input type="text" name="address_zip" placeholder="Zip code" required /></td>
					<td><button type="submit">Add Record</button></td>
			      </tr>
			    </tbody>
			  </table>
		    
		    
		  </form>
	  </div>
      <div class="row" id="hidden-delete" style="display: none;">
		  <h2>1 click delete</h2>
		  <div class="col">
    	  	      <div id="list-table">
    	  		    <ul>
    	  		      <% for (var i=0; i < names.length; i++){%>
    	  			    <li id=<%=id=Math.abs(parseInt(names[i].split(":")[1]))%>><%= names[i].split(":")[0] %></li>
    	  			  <% } %>
    	  		    </ul>
    	  	      </div>
	      </div>
	  </div>
  </div>
	
</body>
</html>