<html>
  <head>
  	<title>Node JS Sample</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
	  <h1>Node JS sample for RVTD</h1>
	  <div id="list-table">
		  <form>
		    <input type="text" name="record" placeholder="Add new record..." required />
		    <button type="submit">Add Record</button>
		  </form>
		  <ul>
		    <li>thing 1</li>
			<li>thing 2</li>
		    <li>thing 3</li>
			<li>thing 4</li>
		  </ul>
	  </div>
  </body>
</html>